## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [ ]:
aList = [100, 200, 300, 400, 500]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [2]:
aList = [100, 200, 300, 400, 500]
# code below this line

print(aList[::-1])
# code above this line

[500, 400, 300, 200, 100]

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [11]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
#tạo list rỗng
new_list = []
# code below this line
#Lặp i trong list 1 
for i in range(len(list1)):
    #lặp j trong list 2
    for j in range(len(list2)):
        #kiểm trâ nếu index i=j
        if i == j:
            #gán biến k bằng cách cộng 2 phần tử của 2 list theo i, j tương ứng
            k = list1[i] + list2[j]
    #thêm phần tử k vào new_list
    new_list.append(k)
print(new_list)
# code above this line

My
name
is
Kelly
['My', 'name', 'is', 'Kelly']

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [34]:
aList = [1, 2, 3, 4, 5, 6, 7]

**Output**

In [38]:
[1, 4, 9, 16, 25, 36, 49]
# code below this line
#tạo list rỗng
new_list = []
#lặp i trong aList lấy giá trị phần tử
for i in aList:
    #Bình phương i
    i **= 2
    #gắn i vào new_list
    new_list.append(i)
print(f"aList = {new_list}")
# code above this line

aList = [1, 4, 9, 16, 25, 36, 49]

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [1]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# code below this line
#tạo list rỗng
new_list = []
#lặp i, j lấy giá trị phần tử trong list1, list2
for i in list1:
    for j in list2:
        #hêm giá trị sau khi cộng i và i vào new_list
        new_list.append(i+j)
        #thêm k vào new_list
print(new_list)
# code above this line

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [51]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line
#lặp i, j lấy index trong list1, list2
for i in range(len(list1)):
    for j in range(len(list2)):
        #Ktra nếu index bằng nhau
        if i == j:
            #in ra giá trị theo index của từng list
            print(list1[i], list2[j])
        
# code above this line

10 100
20 200
30 300
40 400

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [1]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line
#lặp "" Ktra nếu giá trị là ""
while "" in list1:
        #thực hiện xoá
        list1.remove("")
print(list1)
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [64]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line
#lặp i trong list1 lấy index tương ứng
for i in range(len(list1)):
    #Kttra nếu list1[i] = 20
    if list1[i] == 20:
        #gán giá trị mới cho list1[i]
        list1[i] = 200
        #ngừng vòng lặp sau khi gặp 20 và gán giá trị mới đầu tiên
        break
print(list1)
# code above this line

[5, 10, 15, 200, 25, 50, 20]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [68]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line
#lặp i lấy giá trị phần tử trong list1
for i in list1:
    #ktra nếu i = 20
    if i == 20:
        #thực hiện xoá và lặp lại vòng lặp đến giá trị cuối
        list1.remove(i)
print(list1)
# code above this line

[5, 15, 25, 50]

## Bài 9: unpack tuple

In [ ]:
aTuple = (10, 20, 30, 40)

In [69]:
aTuple = (10, 20, 30, 40)
# Your code
a, b, c, d = aTuple
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

10
20
30
40

## Bài 10: swap tuple
Hãy thay đổi giá trị của 2 tuple cho nhau

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

**Output**

In [ ]:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [79]:
tuple1 = (11, 22)
tuple2 = (99, 88)
a1, b1 = tuple1
a2, b2 = tuple2

#gán giá trị của a1, b1 của list1 cho a3, b3
a3 = a1
b3 = b1
#gán giá trị của a2, b2 của list1 cho a1, b1
a1 = a2
b1 = b2
#gán giá trị của a3, b3 của list1 cho a2, b2
a2 = a3
b2 = b3

print(f"tuple1 = ({a1}, {b1})")
print(f"tuple2 = ({a2}, {b2})")
# code below this line

# code above this line

tuple1 = (99, 88)
tuple2 = (11, 22)

## Bài 11: count occurrence
Hãy đếm tổng số lần xuất hiện của 50 trong tuple

In [ ]:
tuple1 = (50, 10, 60, 70, 50)

**Output**

In [ ]:
2

In [81]:
tuple1 = (50, 10, 60, 70, 50)
# code below this line
#tạo biến đếm count = 0
count = 0
#lặp i lấy các phần tử của tuple1
for i in tuple1:
    #ktra nếu i = 50
    if i == 50:
        #tăng biến count thêm 1
        count += 1
print(count)

# code above this line

2

## Bài 12: is it the same?
Hãy kiểm tra xem các phần tử trong tuple có giống nhau hay không.

In [ ]:
tuple1 = (45, 45, 45, 45)

**Output**

In [ ]:
True

In [90]:
tuple1 = (45, 45, 45, 45)
# code below this line
#unpack tuple
a, b, c, d = tuple1
#in true nếu a, b, c, d bằng nhau ngược lại in false
print("True") if a == b == c == d else print("False")
    
# code above this line

True